body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.main-div {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0px;
    color: #333;
}

.ai-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}

.ai-input:focus {
    border-color: #74ebd5;
}

.button-init{
    background-color: #74ebd5;
    color: black;
    border: none;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;

}

.ai-output{
    margin-top: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}